@charset "UTF-8";

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 0 ;
  color: black !important;
}

body.page-template.page-template-productpage {
  background-color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6, p, small, blockquote, a, li, table, td, tr, button {
  font-family: 'menco',Helvetica,Arial,san-serif !important;
  font-weight: normal;
  color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 18px;
  font-size: inherit;
  transition: all .75s;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 1rem;
}

a, a:focus, a:hover, a:active {
  outline: 0;
  font-size: inherit;
  transition: all ease .21s;
}

p {
  margin-top: .75rem;
  line-height: 1.5em;
  font-size: 18px;
}

sup {
  font-family: Arial,san-serif !important;
  font-size: 6px;
}

*:focus {
   outline: 0;
}

.headline {
   font-family: 'marvin', Verdana, Geneva, Serif !important;
   font-weight: bold;
}

.text-shadow {
  text-shadow: 0px 2.1px rgba(0,0,0,.48);
}

.inline-content {
  display: block;
}

.inline-content::after {
  clear: both;
}

.inline-content .inline-item {
  display: inline-block;
  vertical-align: middle;
}

.two-lines span::before {
  content: "\A";
  white-space: pre;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative-position {
  position: relative;
}

.fixed-position {
  width: 100%;
  position: fixed;
}

.absolute-position {
  width: 100%;
  position: absolute;
}

.z-index-top {
  z-index: 100;
}

.z-index-bottom {
  z-index: -1;
}

.modal {
  z-index: 500;
}

.modal.is-active {
  padding: 48px;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.section > .container {
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.section.full, .full-height {
  min-height: 100vh;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.container.fluid-width {
  max-width: none;
  width: 100%;
}

.container.fluid-width > .columns {
  padding-left: .75rem;
  padding-right: .75rem;
}

.is-vend {
  align-items: flex-end;
}

.has-align-self-center {
  align-self: center;
  align-items: center;
}

.is-bottom-vertical {
  vertical-align: bottom;
}

.hidden-object {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one-third {
  opacity: .33;
}

.opacity-two-third {
  opacity: .66;
}

.opacity-full {
  opacity: 1;
}

.element-on-top {
  position: relative;
  z-index: 500;
}

.hide-large {
  display: none;
}

.quarter-width {
  width: 25%;
  height: auto;
}

.half-width {
  width: 50%;
  height: auto;
}

.three-quarters-width {
  width: 75%;
  height: auto;
}

.full-width {
  width: 100%;
  height: auto;
}

.full-height {
  width: auto;
  height: 100vh;
}

.three-quarter-height {
  width: auto;
  height: 75vh;
}

.half-height {
  width: auto;
  height: 50vh;
}

.quarter-height {
  width: auto;
  height: 25vh;
}

.margin-auto {
  display: block;
  margin: 0 auto !important;
}

.nomargin {
 margin: 0 0 !important;
}

.notopbottommargin {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.margin-top {
 margin-top: 2.1rem !important;
}

.margin-bottom {
  margin-bottom: 2.1rem !important;
}

.margin-left {
  margin-left: 2.1rem !important;
}

.margin-right {
  margin-right: 2.1rem !important;
}

.margin-sm-top {
 margin-top: 1rem !important;
}

.margin-sm-bottom {
  margin-bottom: 1rem !important;
}

.margin-sm-left {
  margin-left: 1rem !important;
}

.margin-sm-right {
  margin-right: 1rem !important;
}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.notopbottompadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.noleftrightpadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding {
  padding: 4.8rem;
}

.padding-sm {
  padding: 2.1rem 2.1rem;
}

.padding-sm-top-bottom {
  padding: 2.1rem 0;
}

.padding-sm-left-right {
  padding: 0 2.1rem;
}

.padding-sm-bottom {
  padding-bottom: 2.1rem;
}

.padding-sm-top {
  padding-top: 2.1rem;
}

.padding-right {
  padding-right: 4.8rem;
}

.padding-left {
  padding-left: 4.8rem;
}

.padding-top {
  padding-top: 4.8rem;
}

.padding-bottom {
  padding-bottom: 4.8rem;
}

.center {
  margin: 0 auto;
}

.border-top {
  border-top: 1px solid rgba(60,60,60,.36);
}

.border-bottom {
  border-bottom: 1px solid rgba(60,60,60,.36);
}

.border-left {
  border-left: 1px solid rgba(60,60,60,.36);
}

.border-right {
  border-right: 1px solid rgba(60,60,60,.36);
}

.border {
  border: 1px solid rgba(60,60,60,.36);
}

.thin {
  font-weight: 200;
}

.medium {
  font-weight: 400;
}

.rounded-corners {
  border-radius: 12px;
}

.rounded-corners-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.rounded-corners-bottom {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.strong, strong {
  font-weight: 900;
  color: inherit;
}

.extra-line-height {
  line-height: 1.85;
}

.less-line-height {
  line-height: 1.11;
}

.extra-letter-spacing {
  letter-spacing: .36em;
}

.less-letter-spacing {
  letter-spacing: -1.5px;
}

.extra-large-header {
  font-size: calc(2.7rem + .75vh);
}

.large-header {
  font-size: 2.4em;
}

.sub-header {
  font-size: 1.8em;
}

.small-header {
  margin-top: .36em;
  font-size: 1.2em;
}

.caption, .small-text, small {
  font-size: .75em !important;
}

.upper-case {
  text-transform: uppercase;
}

.inner-shadow {
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.4) inset;
}

.background-none {
  background-color: transparent !important;
}

.white-fill {
  fill: #FFFFFF;
}
.offwhite-fill {
  fill: #ECEEEF;
}
.grey-fill {
  fill: #484848;
}

.white-text {
  color: rgb(255,255,255) !important;
}
.white-background {
  background-color: rgb(255,255,255);
}
.white-background-fill {
  background-color: rgb(255,255,255);
}
.grey-background {
  background-color: rgb(236,239,238);
}
.blue-text {
  color: rgb(0,216,264);
}
.blue-background {
  background-color: rgb(0,216,264);
}
.blue-fill {
  fill: rgb(0,216,264);
}
.royal-blue-text {
  color: rgb(1,147,226);
}
.royal-blue-background {
  background-color: rgb(1,147,226);
}
.royal-blue-fill {
  fill: rgb(1,147,226);
}
.green-text {
  color: rgb(133,204,107);
}
.green-background {
  background-color: rgb(4,129,69);
}
.green-background-fill {
  background-color: rgb(4,129,69);
}
.purple-text {
  color: rgb(154,149,205);
}
.purple-background {
  background-color: rgb(117,111,170);
}
.purple-background-fill {
  background-color: rgb(117,111,170);
}
.black-background {
  background-color: rgb(0,0,0);
}
.background-image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-transparent {
  background: transparent !important;
}

.drop-shadow {
  box-shadow: 0 9px 15px 0 rgba(0,0,0,0.24),0 6px 18px 0 rgba(0,0,0,0.21) !important;
}

.button-pill {
  width: auto;
  height: auto;
  display: inline-block;
  padding-bottom: calc(.75em - 12px);
  padding-left: calc(.75em + 12px);
  padding-right: calc(.75em + 12px);
  padding-top: calc(.75em - 12px);
  border: none;
  border-radius: 120px;
  text-align: center;
  line-height: 2.1;
  white-space: nowrap;
  font-size: inherit;
  font-family: 'marvin', Verdana, Geneva, Serif !important;
  font-weight: normal;
  color: rgb(0,0,0);
  transition: all 0.15s ease-in;
}
.button-pill.blank, .button-pill.blank:hover {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: inherit;
  font-size: inherit;
}
.button-pill.smaller {
  padding: 12px 24px;
}
.button-pill.larger {
  padding-bottom: calc(2.4em - 12px);
  padding-left: calc(4.8em - 3%);
  padding-right: calc(4.8em - 3%);
  padding-top: calc(2.4em - 12px);
}
.button-pill.no-shadow {
  box-shadow: none;
}
.button-pill.no-border {
  border: none;
}
.button-pill.white-space-wrap {
  white-space: normal;
}
.button-pill.dark {
  background-color: rgb(0,0,0);
  color: #FFFFFF;
}
.button-pill.blue {
  background-color: rgb(0,216,264);
}
.button-pill.blue:hover {
  background-color: rgb(0,149,175);
}
.button-pill.purple {
  background-color: rgb(154,149,205);
}
.button-pill.purple:hover {
  background-color: rgb(99,95,135);
}
.button-pill.green {
  background-color: rgb(133,204,107);i
}
.button-pill.green:hover {
  background-color: rgb(84,128,67);
}

.delete {
  background-color: rgb(0,0,0) !important;
}

em.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 15px;
  width: 9px;
  border-bottom: 4.2px solid #000000;
  border-right: 4.2px solid #000000;
}

.button.white-border {
  border-color: rgb(255,255,255);
  color: rgb(255,255,255);
}

.button.white-border:hover, .button.white-border:focus {
  border-color: rgb(79,197,221);
  color: rgb(79,197,221);
}

.button.white-fill {
  border-color: transparent;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.button.blue-fill {
  background-color: rgb(0,180,228);
  border-color: transparent;
  color: rgb(255,255,255);
}

.button.green-fill {
  background-color: rgb(153,204,126);
  border-color: transparent;
  color: rgb(255,255,255);
}

.button.pink {
  color: rgb(227,128,177);
}

.button.lavender {
  color: rgb(131,147,202);
}

.transition-one-thirds {
  transition: all .36s !important;
}

.transition-two-thirds {
  transition: all 66s !important;
}

.transition-three-thirds {
  transition: 1s !important;
}
